<div class="ui basic segment">
	<div class="ui three column stackable grid">



		<div class="container cont_logo">

			{{ sylius_template_event('sylius.shop.layout.header.grid') }}

			<h1 class="">
				<a href="{{ path('sylius_shop_homepage') }}">Idée masque, pour ne pas ressembler à tout le monde!</h1>


			</div>


		</div>
	</div>
